# Section: Advance Statistics

## <font color='#4073FF'>Project Solution: Attrition Dependency</font>

###  <font color='#14AAF5'>Is Attrition related to education, job satisfaction and Age? </font>

Attrition is a problem that impacts all businesses, irrespective of geography, industry and size of the company. It is a major problem to an organization, and predicting turnover is at the forefront of the needs of Human Resources (HR) in many organizations. Organizations face huge costs resulting from employee turnover. You are given with an Attrition Dataset IBM HR Analytics Employee Attrition & Performance.

### Dataset

The dataset consists of 1470 records and 35 columns. Few columns in datasets are as follows- 


- Education 

    1. 'Below College' 
    2. 'College' 
    3. 'Bachelor' 
    4. 'Master' 
    5. 'Doctor'	  


- EnvironmentSatisfaction 

    1. 'Low' 
    2. 'Medium' 
    3. 'High' 
    4. 'Very High' 


- JobInvolvement 

    1. 'Low' 
    2. 'Medium' 
    3. 'High' 
    4. 'Very High' 


- JobSatisfaction 

    1. 'Low' 
    2. 'Medium' 
    3. 'High' 
    4. 'Very High' 


- PerformanceRating 

    1. 'Low' 
    2. 'Good' 
    3. 'Excellent' 
    4. 'Outstanding' 


- RelationshipSatisfaction 

    1. 'Low' 
    2. 'Medium' 
    3. 'High' 
    4. 'Very High' 


- WorkLifeBalance 

    1. 'Bad' 
    2. 'Good' 
    3. 'Better' 
    4. 'Best'

In [1]:
# Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
df=pd.read_csv("IBM Attrition.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
df['StandardHours'].value_counts()

80    1470
Name: StandardHours, dtype: int64

In [4]:
df.shape

(1470, 35)

In [5]:
# Descriptive statistics
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [6]:
# No null values
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
df["Attrition"].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [8]:
df["JobSatisfaction"].value_counts()

4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

In [9]:
df['Education'].value_counts()

3    572
4    398
2    282
1    170
5     48
Name: Education, dtype: int64

### Hypothesis Formulation and Testing

1. The level of significance (Alpha) = 0.05
2. The sample size N = 1470 which is sufficiently large.
3. Degree of freedom = 3, dof = (row-1)(col-1) = (2-1)(4-1) = 3

### Hypothesis Formulation
1. Null Hypothesis($H_0$) = No Relationship between variables.
2. Alternate Hypothesis($H_A$) = There is a significant relationship between the two variables.

### Examine relationship between 'Attrition' and 'JobSatisfaction'

In [10]:
# Creating Cross Tab
ct = pd.crosstab(df["Attrition"], df["JobSatisfaction"], margins=True)
ct

JobSatisfaction    1    2    3    4   All
Attrition
No               223  234  369  407  1233
Yes               66   46   73   52   237
All              289  280  442  459  1470

In [11]:
stat, p, dof, expected = stats.chi2_contingency(ct.values[0:2,0:4])
print("\n",p,dof)

 0.0005563004510387556 3

### Conclusion
In this scenario, the p value is 0.000556 which is less than the 0.05.
Hence, we reject the Null Hypothesis.
Thus, accepting the Alternate Hypothesis, **we can say that Attrition and Job Satisfaction are dependent.**

### Examine relationship between 'Attrition' and 'Education'

In [12]:
ct1 = pd.crosstab(df["Attrition"], df["Education"], margins=True)
ct1

Education    1    2    3    4   5   All
Attrition
No         139  238  473  340  43  1233
Yes         31   44   99   58   5   237
All        170  282  572  398  48  1470

In [13]:
stat, p, dof, expected = stats.chi2_contingency(ct1.values[0:2,0:5])
print(p,dof)

0.5455253376565949 4

### Conclusion
In this scenario, the p value is 0.5455 which is greater than the 0.05.
Hence, we failed to reject the Null Hypothesis.
Thus, accepting the Null Hypothesis that there is **No Relationship Between the Attrition and Education**.

### Examine relationship between 'Attrition' and 'Age'

### Hypothesis Formulation and Testing

1. The level of significance (Alpha) = 0.05
2. The sample size N = 1470 which is sufficiently large.
3. Degree of freedom = 2, dof = (row-1) = 2 (#N here is the records in contingency table.)
4. F-Value = It is the ratio of two Chi-distributions divided by its degrees of Freedom.

### Hypothesis Formulation
1. Null Hypothesis($H_0$) = Means of both groups are equal.
2. Alternate Hypothesis($H_A$) = Means of both groups are not equal.

       - if pvalue > alpha = accept the Null Hypothesis, feature is not important
       - if pvalue < alpha = reject the Null Hypothesis, feature is important

In [14]:
# Performing Anova using scikit-learn
from sklearn.feature_selection import f_classif
F,pval = f_classif(df['Age'].values.reshape(-1,1),df['Attrition'].values)
print(F,pval)

[38.17588679] [8.35630802e-10]

### Conclusion
In this scenario, the p value is very much less than the 0.05.
Hence, we reject the Null Hypothesis.
Thus, accepting the Alternate Hypothesis, there is **Significant Relationship Between the Attrition and Education**.